
@media screen and (max-width: 990px){

    h3{
      font-size: 1.2rem;
    }
    h2{
        font-size: 1.5rem;
    }

    p{
        font-size: 1.1rem;
    }
.nav-toggle{
    display: block;
    margin-right: 20px;
}
.nav-links{
  position: absolute;
  background-color: white;
  left: -100%;
  top: 100%;
  width: 100%;
  padding-block: 20px;
  transition: 0.2s ease-in-out;

}
.nav-links.active{
 left: 0;
}
.nav-links ul{
  flex-direction: column;
}
.main-nav{
 overflow: initial;
}

.examples-area{
 
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,180px);
    row-gap: 30px;

}

.cta-section{

    padding-block: 80px;
}

.big-feature-container{

gap: 30px !important ;
}
 .cta-ul{
          flex-direction: column;
        }

}


@media screen and (max-width: 767px) {
    .header-section{
        flex-direction: column-reverse;
    }
    .left-header{
        max-width: 100vw;
      text-align: center;
    }
    .primary-button{

  /* width: 80%; */
    }
    .fetures-card{
   min-width: calc(50% - 10px);

    }

    .big-feature-container, #second-big-feature {
        flex-direction: column;
    }

    .footer-section{
        flex-direction: column;
        gap: 40px;
        align-items: center;
        text-align: center;
    }
    .link-column{
     align-items: stretch;
     align-items: center !important;
    }
    .company-logo{
        width: 60% !important;
    }
 
           .cta-section{

            flex-direction: column-reverse;
        }
        .cta-content{
            text-align: center;
            max-width: 100% !important;
        }
       
}
@media screen and (max-width: 479px){
    :root{
        --padding-inline-section: 10px;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem;
    }
    .fetures-card{
        min-width: 100%;
     
         }
         .feature-header h2{
          padding-bottom: 20px;
         }
         .feature-header {
            padding-bottom: 20px;
         }
         .features-section{
            padding-top: 120px !important;
            background-size: 125rem !important;
         }
         .examples-area{
 
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4,180px);
            row-gap: 30px;
        
        }

      
}